<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>Rakul's Portfolio Design System</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../CSS/sidebar.css" rel="stylesheet">
    <link href="../CSS/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="../images/favicon1.png">

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400&family=Raleway:wght@400;600&display=swap"
        rel="stylesheet">
</head>

<body>
    <main class="d-flex flex-nowrap">

        <!-- This determines the width of the sidebar. Change if needed. -->
        <div class="flex-shrink-0 p-3 bg-marine-blue" style="width: 250px;">

            <div class="logo-container">
                <a href="../index.html"
                    class="d-flex align-items-center text-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <img src="../images/Color.png" class="nav-logo" alt="primary logo">
                </a>
            </div>

            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#Foundations-collapse" aria-expanded="false">
                        Foundations
                    </button>
                    <div class="collapse" id="Foundations-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="../Foundations/Typography.html"
                                    class="link-dark d-inline-flex text-decoration-none rounded">Typography</a></li>
                            <li><a href="../Foundations/Color.html"
                                    class="link-dark d-inline-flex text-decoration-none rounded">Color</a></li>
                            <li><a href="../Foundations/Logo.html"
                                    class="link-dark d-inline-flex text-decoration-none rounded">Logo</a></li>

                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#Components-collapse" aria-expanded="true">
                        Components
                    </button>
                    <div class="collapse show" id="Components-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Navbar</a></li>
                            <li><a href="Footer.html"
                                    class="link-dark d-inline-flex text-decoration-none rounded">Footer</a>
                            </li>
                            <li><a href="Card.html"
                                    class="link-dark d-inline-flex text-decoration-none rounded">Card</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                        data-bs-toggle="collapse" data-bs-target="#patterns-collapse" aria-expanded="false">
                        Page Patterns
                    </button>
                    <div class="collapse" id="patterns-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="../Page Pattern/Homepage.html"
                                    class="link-dark d-inline-flex text-decoration-none rounded">Homepage</a></li>
                            <li><a href="../Page Pattern/Project.html"
                                    class="link-dark d-inline-flex text-decoration-none rounded">Project</a></li>
                        </ul>
                    </div>
                 </li>

            </ul>
        </div>
        <div class="b-example-divider b-example-vr"></div>

        <!-- Page Content  -->
        <div class="container-fluid overflow-auto">

            <div class="row p-5">
                <!-- start row -->

                <div class="col-12">
                    <h2><strong>Navigation Bar</strong></h2>
                    <p>The navigation bar allows users to navigate through the website.</p>
                </div>
                <!-- end col -->

                <div class="col-12 mt-3">
                    <h3>Example</h3>
                    <div class="p-3 border">
                      <nav class="navbar navbar-expand-lg nav-bar-color sticky-top px-3">
                        <div class="container-fluid">
                          <a class="navbar-brand d-flex align-items-center" href="#">
                            <img src="../images/Favicon1.jpg" alt="RS Logo" class="navbar-logo me-2" />
                            <span class="brand-text">Rakul</span>
                          </a>
                  
                          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                          </button>
                  
                          <div class="collapse navbar-collapse" id="navbarNavDropdown">
                            <ul class="navbar-nav ms-auto">
                              <li class="nav-item">
                                <a class="nav-link active nav-highlight" aria-current="page" href="#">work</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link" href="#">info</a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </nav>
                    </div>
                  </div>
                  <!-- end col -->
                  
                  <div class="col-12 mt-5">
                    <h3>Code</h3>
                    <pre class="language-markup code-bkg">
                      <code>
                  &lt;nav class=&quot;navbar navbar-expand-lg nav-bar-color sticky-top px-3&quot;&gt;
                    &lt;div class=&quot;container-fluid&quot;&gt;
                      &lt;a class=&quot;navbar-brand d-flex align-items-center&quot; href=&quot;#&quot;&gt;
                        &lt;img src=&quot;../images/Favicon1.jpg&quot; alt=&quot;RS Logo&quot; class=&quot;navbar-logo me-2&quot; /&gt;
                        &lt;span class=&quot;brand-text&quot;&gt;Rakul&lt;/span&gt;
                      &lt;/a&gt;
                  
                      &lt;button class=&quot;navbar-toggler&quot; type=&quot;button&quot; data-bs-toggle=&quot;collapse&quot;
                        data-bs-target=&quot;#navbarNavDropdown&quot; aria-controls=&quot;navbarNavDropdown&quot;
                        aria-expanded=&quot;false&quot; aria-label=&quot;Toggle navigation&quot;&gt;
                        &lt;span class=&quot;navbar-toggler-icon&quot;&gt;&lt;/span&gt;
                      &lt;/button&gt;
                  
                      &lt;div class=&quot;collapse navbar-collapse&quot; id=&quot;navbarNavDropdown&quot;&gt;
                        &lt;ul class=&quot;navbar-nav ms-auto&quot;&gt;
                          &lt;li class=&quot;nav-item&quot;&gt;
                            &lt;a class=&quot;nav-link active nav-highlight&quot; aria-current=&quot;page&quot; href=&quot;#&quot;&gt;work&lt;/a&gt;
                          &lt;/li&gt;
                          &lt;li class=&quot;nav-item&quot;&gt;
                            &lt;a class=&quot;nav-link&quot; href=&quot;#&quot;&gt;info&lt;/a&gt;
                          &lt;/li&gt;
                        &lt;/ul&gt;
                      &lt;/div&gt;
                    &lt;/div&gt;
                  &lt;/nav&gt;
                      </code>
                    </pre>
                  </div>
                  <!-- end col -->
                  

                <div class="col-12 mt-3">
                    <h3>Usage</h3>
                    <ul class="usage">
                        <li>The navigation bar must be included on all pages.</li>
                        <li>The navigation items should remain constant across all pages.</li>
                        <li>The navigation bar includes the logo and system name.</li>
                        <li>The navigation adapts to different screen sizes.</li>
                    </ul>
                </div>

                <div class="col-12 mt-3">
                    <h3>Accessibility Considerations</h3>
                    <p>This primary horizontal navigation bar uses dark text against light backgrounds to meet the WCAG
                        color
                        contrast requirement. If using any of the darker backgrounds (surface-brand-primary,
                        surface-brand-secondary, surface-secondary), use one of the lighter text colors
                        (text-brand-primary-light,
                        text-brand-secondary-light, text-inverse).</p>
                </div>
            </div><!-- Row  -->
        </div><!-- Container -->


        </div> <!-- Content  -->



    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    <script src="../js/sidebar.js"></script>
    <script src="../js/Prism.js"></script>
</body>

</html>
